<!doctype html>
<html lang="en">
  
<head>
    <title>Theme Tweaks - Big Cartel Help</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
    <link rel="canonical" href="index.html">
  </head>

  <body class="basic">

    <div class="app">
      <div class="north-wrapper header--fixed">
        <header class="north">
          <div class="wrapper">
                <a href="../../../index.html" class="logo mark">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 62 78" enable-background="new 0 0 62 78" xml:space="preserve">
    <g class="mark"><path d="M30.8 42.5l0-3c0-2 1-4 2.8-5.2l25.1-16c1.8-1.2 2.8-3.1 2.8-5.1V0L30.8 19.6L0 0v41.4C0 52.7 5 62 13.2 67.2l17.5 11.2 l17.5-11.2c8.2-5.2 13.2-14.4 13.2-25.8V22.9L30.8 42.5z"/>
    </g>
  </svg>
</a>
                <ul class="breadcrumbs">
                    <li> <a href="../index.html"><span>Back to </span>Customization</a></li>
                </ul>
            <a href="../../../contact/index.html" class="contact">
              <span class="text">Contact Us</span>
              <span class="icon">
                <img width="15" height="auto" alt="Contact Us" src="../../../images/layout/svg/envelope-icon.svg" />
              </span>
            </a>
          </div>
        </header>
      </div>

      <div class="content">
        
  <div class="support-main">
    <div class="support-body">
      <ul class="article-subnav">
        <li class="active"><a href="#intro">Intro</a></li>
        <li><a href="#luna">Luna</a></li>
        <li><a href="#neat">Neat</a></li>
        <li><a href="#nova">Nova</a></li>
        <li><a href="#picklejuice">Picklejuice</a></li>
        <li><a href="#snakebite">Snakebite</a></li>
        <li><a href="#sidecar">Sidecar</a></li>
        <li><a href="#blocks">Blocks</a></li>
        <li><a href="#sexy">Sexy</a></li>
      </ul>

      <article id="intro">
        <div class="article-content">
          <h1 class="title">Theme Tweaks</h1>
          <div>
            <p>When choosing a theme it’s important to pick something that fits your brand and represents you and your shop at its best. If you feel like the basic customization controls for our built-in themes just aren’t enough, and you feel comfortable editing a little code, then you’re in the right place! We’ve compiled a bunch of theme customizations that have been requested over the years and we put together the code to make it all possible.</p>

<h3 id="luna">Luna</h3>

<h4 id="i-want-to-change-the-products-link-on-my-site-to-something-else">I want to change the <strong>Products</strong> link on my site to something else</h4>

<p>In the Layout HTML, find this line of code:</p>

<pre class="highlight html"><code><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span><span class="nt">&gt;</span>Products<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>{% for page in pages.all limit:2 %}
</code></pre>

<p>Replace Products with your preferred title–Shop, Artwork, Classes, etc</p>

<h4 id="i-want-to-display-more-than-two-custom-page-links-in-the-top-navigation">I want to display more than two custom page links in the top navigation</h4>
<p>In the Layout HTML, find this line of code:</p>

<pre class="highlight html"><code><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span><span class="nt">&gt;</span>Products<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>{% for page in pages.all limit:2 %}
</code></pre>

<p>Change 2 to the number of custom page links you’d like to include in your top navigation bar.</p>

<h4 id="i-want-to-add-more-social-media-links-to-the-footer-navigation">I want to add more social media links to the footer navigation</h4>
<p>Find this bit of code near the bottom of the Layout page HTML:</p>

<pre class="highlight html"><code>{% if theme.facebook_username != blank %}
<span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"http://facebook.com/{{ theme.facebook_username }}"</span> <span class="na">title=</span><span class="s">"Friend us on Facebook"</span><span class="nt">&gt;</span>Facebook<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
{% endif %}
</code></pre>

<p>Just after that you can add in your additional social media profile links, for example:</p>

<pre class="highlight html"><code><span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"http://instagram.com/username"</span><span class="nt">&gt;</span>Instagram<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"http://pinterest.com/yourprofile"</span><span class="nt">&gt;</span>Pinterest<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
</code></pre>

<h4 id="how-do-i-remove-the-featured-products-from-the-home-page">How do I remove the featured products from the home page</h4>

<p>To remove the featured products from the <strong>Home</strong> page, head to 
<strong>Customize Design &gt; Advanced &gt; Home</strong>, click custom and look for the slideshow code:</p>

<pre class="highlight html"><code>{% if theme.image_sets.slideshow.size &gt; 0 %}
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"flexslider"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"slides"</span><span class="nt">&gt;</span>
      {% for image in theme.image_sets.slideshow %}
      <span class="nt">&lt;li&gt;&lt;img</span> <span class="na">src=</span><span class="s">"{{ image.url | constrain: 1800 }}"</span><span class="nt">&gt;&lt;/li&gt;</span>
      {% endfor %}
    <span class="nt">&lt;/ul&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
{% endif %}
</code></pre>

<p>Then remove the rest of the code on the page</p>

<h4 id="i-want-a-continue-shopping-button-on-my-cart-page">I want a continue shopping button on my <strong>Cart</strong> page</h4>
<p>Head over to <strong>Customize Design &gt; Advanced &gt; Cart</strong> and look for this piece of code:</p>

<pre class="highlight html"><code><span class="nt">&lt;button</span> <span class="na">id=</span><span class="s">"checkout-btn"</span> <span class="na">class=</span><span class="s">"button"</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">title=</span><span class="s">"Checkout"</span><span class="nt">&gt;</span>Checkout<span class="nt">&lt;/button&gt;</span>
</code></pre>

<p>Right after that, add this code:</p>

<pre class="highlight html"><code><span class="nt">&lt;br&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"button"</span> <span class="na">title=</span><span class="s">"Continue Shopping"</span> <span class="na">onclick=</span><span class="s">"window.location.href='/products'"</span><span class="nt">&gt;</span>Continue Shopping<span class="nt">&lt;/button&gt;</span>
</code></pre>

<h4 id="i-would-like-my-footer-links-in-all-caps-to-match-the-main-navigation">I would like my footer links in all caps to match the main navigation</h4>
<p>Add the following to the very bottom of your CSS:</p>

<pre class="highlight css"><code><span class="nt">footer</span> <span class="nt">ul</span> <span class="nt">li</span> <span class="p">{</span>
  <span class="nl">text-transform</span><span class="p">:</span> <span class="nb">uppercase</span>
<span class="p">}</span>
</code></pre>

<h4 id="i-dont-want-the-first-line-in-all-of-my-custom-pages-to-be-in-italics">I don’t want the first line in all of my custom pages to be in italics</h4>
<p>You can remove that <strong>sub-header</strong> style by adding the following line of code to the very bottom of your CSS. Then adjust the color code to reflect the color you’ve chosen for your font:</p>

<pre class="highlight css"><code><span class="nc">.custom</span> <span class="nf">#page_body</span> <span class="nt">p</span><span class="nd">:first-child</span> <span class="p">{</span> 
  <span class="nl">font-style</span><span class="p">:</span> <span class="nb">normal</span><span class="p">;</span>
  <span class="nl">font-size</span><span class="p">:</span> <span class="m">15px</span><span class="p">;</span>
  <span class="nl">line-height</span><span class="p">:</span> <span class="m">1.3em</span><span class="p">;</span>
  <span class="nl">color</span><span class="p">:</span> <span class="m">#333</span> 
<span class="p">}</span>
</code></pre>

<h4 id="i-want-a-quantity-field-on-the-product-page-so-customers-dont-have-to-add-products-to-the-cart-over-and-over">I want a quantity field on the <strong>Product</strong> page so customers don’t have to add products to the cart over and over</h4>
<p>Just click the Product page, in the <strong>Customize Design &gt; Advanced</strong> section of the admin, then click the <strong>custom</strong> button to see the default code. From there you’ll paste the following bit of code just above the <code>&lt;/form&gt;</code> tag.</p>

<pre class="highlight html"><code>{{ product | product_quantity_input }}
</code></pre>

<h4 id="i-want-to-remove-the-shadow-thats-automatically-included-on-product-images">I want to remove the shadow that’s automatically included on product images</h4>
<p>Head over to <strong>Customize Design &gt; Advanced &gt; CSS</strong> and paste this into the bottom:</p>

<pre class="highlight css"><code><span class="nf">#product_images</span> <span class="nt">li</span> <span class="nt">img</span> <span class="p">{</span>
  <span class="nl">box-shadow</span><span class="p">:</span> <span class="nb">none</span><span class="p">;</span> 
  <span class="py">webkit-box-shadow</span><span class="p">:</span> <span class="nb">none</span>
<span class="p">}</span>
</code></pre>

<h4 id="i-want-to-add-external-links-to-my-sites-main-navigation">I want to add external links to my site’s main navigation</h4>
<p>Head to <strong>Customize Design &gt; Advanced &gt; Layout &gt; Custom</strong> and find the following section:</p>

<pre class="highlight html"><code><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span><span class="nt">&gt;</span>Products<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
{% for page in pages.all limit:2 %}
<span class="nt">&lt;li</span> <span class="err">{%</span> <span class="na">if</span> <span class="na">page</span><span class="err">.</span><span class="na">full_url</span> <span class="na">contains</span> <span class="na">page</span><span class="err">.</span><span class="na">url</span> <span class="err">%}</span><span class="na">class=</span><span class="s">"selected"</span><span class="err">{%</span> <span class="na">endif</span> <span class="err">%}</span><span class="nt">&gt;</span>{{ page | link_to }}<span class="nt">&lt;/li&gt;</span>
{% endfor %}
</code></pre>

<p>Just after that, you can add in your custom links, for example:</p>

<pre class="highlight html"><code><span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"http://example.com"</span><span class="nt">&gt;</span>Blog<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
<span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"http://instagram.com/username"</span><span class="nt">&gt;</span>Instagram<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
</code></pre>

<h4 id="i-want-all-of-my-products-to-show-up-on-the-home-page">I want all of my products to show up on the <strong>Home</strong> page</h4>
<p>Luna was designed to only display featured products on the <strong>Home</strong> page. If you want to change how your <strong>Home</strong> page functions so that it looks like your <strong>Products</strong> page, you can simply add pagination. To do this go to <strong>Customize Design &gt; Advanced &gt; Home &gt; Custom</strong> and find this entire section:</p>

<pre class="highlight html"><code>{% get products from products.all limit:theme.featured_products order:theme.featured_order %}

{% if products != blank %}
  {% for product in products %}
    {% if forloop.first %}
      <span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">"products"</span> <span class="na">class=</span><span class="s">"{% if forloop.length == 1 %}single_product{% endif %}{% if forloop.length == 2 %}double_product{% endif %}"</span><span class="nt">&gt;</span>
    {% endif %}
    <span class="nt">&lt;li</span> <span class="na">id=</span><span class="s">"product_{{ product.id }}"</span> <span class="na">class=</span><span class="s">"product"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ product.url }}"</span> <span class="na">title=</span><span class="s">"View {{ product.name | escape }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"product_header"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;h2&gt;</span>{{ product.name }}<span class="nt">&lt;/h2&gt;</span>
          <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"dash"</span><span class="nt">&gt;&lt;/span&gt;</span>
          <span class="nt">&lt;h3&gt;</span>{{ product.default_price | money_with_sign }}<span class="nt">&lt;/h3&gt;</span>
          {% case product.status %}
          {% when 'active' %}
            {% if product.on_sale %}<span class="nt">&lt;h5&gt;</span>On Sale<span class="nt">&lt;/h5&gt;</span>{% endif %}
          {% when 'sold-out' %}
        <span class="nt">&lt;h5&gt;</span>Sold Out<span class="nt">&lt;/h5&gt;</span>
          {% when 'coming-soon' %}
        <span class="nt">&lt;h5&gt;</span>Coming Soon<span class="nt">&lt;/h5&gt;</span>
          {% endcase %}
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"product_thumb"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"{{ product.image | product_image_url | constrain: '560' }}"</span> <span class="na">class=</span><span class="s">"fade_in"</span> <span class="na">alt=</span><span class="s">"Image of {{ product.name | escape }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    {% if forloop.last %}
      <span class="nt">&lt;/ul&gt;</span>
    {% endif %}
  {% endfor %}

{% else %}
<span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-noproducts"</span><span class="nt">&gt;</span>No products found.<span class="nt">&lt;/p&gt;</span>
{% endif %}

{% endget %}
</code></pre>

<p><strong>Now replace that whole section with this:</strong></p>

<pre class="highlight html"><code>{% paginate products from products.current by theme.products_per_page %}

{% if products != blank %}
  {% for product in products %}
    {% if forloop.first %}
      <span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">"products"</span> <span class="na">class=</span><span class="s">"{% if forloop.length == 1 %}single_product{% endif %}{% if forloop.length == 2 %}double_product{% endif %}"</span><span class="nt">&gt;</span>
    {% endif %}
    <span class="nt">&lt;li</span> <span class="na">id=</span><span class="s">"product_{{ product.id }}"</span> <span class="na">class=</span><span class="s">"product"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ product.url }}"</span> <span class="na">title=</span><span class="s">"View {{ product.name | escape }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"product_header"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;h2&gt;</span>{{ product.name }}<span class="nt">&lt;/h2&gt;</span>
          <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"dash"</span><span class="nt">&gt;&lt;/span&gt;</span>
          <span class="nt">&lt;h3&gt;</span>{{ product.default_price | money_with_sign }}<span class="nt">&lt;/h3&gt;</span>
          {% case product.status %}
          {% when 'active' %}
            {% if product.on_sale %}<span class="nt">&lt;h5&gt;</span>On Sale<span class="nt">&lt;/h5&gt;</span>{% endif %}
          {% when 'sold-out' %}
        <span class="nt">&lt;h5&gt;</span>Was on Sale<span class="nt">&lt;/h5&gt;</span>
          {% when 'coming-soon' %}
        <span class="nt">&lt;h5&gt;</span>Coming Soon<span class="nt">&lt;/h5&gt;</span>
          {% endcase %}

        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"product_thumb"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"{{ product.image | product_image_url | constrain: '560' }}"</span> <span class="na">class=</span><span class="s">"fade_in"</span> <span class="na">alt=</span><span class="s">"Image of {{ product.name | escape }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/li&gt;</span>
    {% if forloop.last %}
      <span class="nt">&lt;/ul&gt;</span>
    {% endif %}
  {% endfor %}

{{ paginate | default_pagination }}

{% endif %}

{% endpaginate %}
</code></pre>

<p>Now your <strong>Home</strong> page will have page numbers at the bottom!</p>

<h3 id="neat">Neat</h3>

<h4 id="i-would-like-to-remove-the-grey-textured-overlay-on-my-slideshow">I would like to remove the grey textured overlay on my slideshow</h4>

<p>Just add this bit to the very bottom of your theme’s CSS in the <strong>Customize Design &gt; Advanced &gt; CSS</strong> area of your site:</p>

<pre class="highlight css"><code><span class="nc">.slideshow</span> <span class="nt">div</span><span class="nc">.featured_holder</span> <span class="p">{</span>
  <span class="nl">background</span><span class="p">:</span> <span class="nb">none</span>
<span class="p">}</span>
</code></pre>

<h4 id="my-secondary-images-on-the-product-page-are-huge-and-i-would-like-them-smaller">My secondary images on the <strong>Product</strong> page are huge and I would like them smaller</h4>

<p>The Neat theme is designed to display high-quality, high-resolution images on the product pages, to best show off the fine details of each product. However, if you find that the secondary product images are a bit too large for your liking and want to test out some adjustments, you can override the width value to a smaller percentage, and adjust the margin to center the images, by using the following CSS in the <strong>Customize Design &gt; Advanced &gt; CSS</strong> page:</p>

<pre class="highlight css"><code><span class="k">@media</span> <span class="n">only</span> <span class="n">screen</span> <span class="n">and</span> <span class="p">(</span><span class="n">min-width</span><span class="p">:</span> <span class="m">801px</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">.product_photos</span> <span class="nc">.product_photo</span> <span class="p">{</span>
    <span class="nl">width</span><span class="p">:</span> <span class="m">75%</span><span class="p">;</span>
    <span class="nl">margin</span><span class="p">:</span> <span class="nb">auto</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre>

<p>You can adjust the percentage based on how large or small you’d like those images.</p>

<h4 id="the-slideshow-is-too-slow-i-would-love-to-speed-it-up-a-bit">The slideshow is too slow, I would love to speed it up a bit</h4>

<p>The <strong>Neat</strong> theme actually includes this piece of the slideshow’s javascript for you within the <strong>Layout</strong> code. Just head over to <strong>Customize Design &gt; Advanced &gt; Layout</strong> and find this near the bottom of the page:</p>

<pre class="highlight javascript"><code><span class="nx">$</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
  <span class="k">if</span> <span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="s1">'.slides-container'</span><span class="p">).</span><span class="nx">length</span><span class="p">)</span> <span class="p">{</span> 
    <span class="nx">$</span><span class="p">(</span><span class="s1">'.slideshow'</span><span class="p">).</span><span class="nx">superslides</span><span class="p">({</span>
      <span class="na">hashchange</span><span class="p">:</span> <span class="kc">false</span><span class="p">,</span>
      <span class="na">pagination</span><span class="p">:</span><span class="kc">false</span><span class="p">,</span>
      <span class="na">play</span><span class="p">:</span> <span class="mi">6000</span>
    <span class="p">});</span>
  <span class="p">}</span>
<span class="p">});</span>
</code></pre>

<p>All you’ll have to alter in there is the number 6000. To speed up the slideshow, decrease that number. To slow it down, increase that number. For example, if you want the slides to change at a rate of 2 seconds per slide, just change that number to 2000 and you’ll be good to go.</p>

<h4 id="i-dont-like-having-products-underneath-my-slideshow">I don’t like having products underneath my slideshow</h4>

<p>To remove the featured products section from the <strong>Home</strong> page in the <strong>Neat</strong> theme, head to <strong>Customize Design &gt; Advanced &gt; Home</strong>, click <strong>custom</strong> and delete everything <em>below</em> the following code:</p>

<pre class="highlight html"><code>{% if theme.image_sets.slideshow_images.size &gt; 0 or theme.welcome_header != blank or theme.welcome_subheader != blank %}
    <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"slideshow"</span><span class="nt">&gt;</span>
      {% if theme.image_sets.slideshow_images.size &gt; 0 %}
      <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"slides-container"</span><span class="nt">&gt;</span>
      {% for image in theme.image_sets.slideshow_images %}
      <span class="nt">&lt;li&gt;&lt;img</span> <span class="na">src=</span><span class="s">"{{ image.url }}"</span><span class="nt">&gt;&lt;/li&gt;</span>
      {% endfor %}
      <span class="nt">&lt;/ul&gt;</span>
      {% endif %}
      {% if theme.welcome_header != blank or theme.welcome_subheader != blank %}
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"featured_holder"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"featured"</span><span class="nt">&gt;</span>
        {% if theme.welcome_subheader != blank %}<span class="nt">&lt;p&gt;</span>{{ theme.welcome_subheader }}<span class="nt">&lt;/p&gt;</span>{% endif %}
        {% if theme.welcome_header != blank %}<span class="nt">&lt;h2&gt;</span>{{ theme.welcome_header }}<span class="nt">&lt;/h2&gt;</span>{% endif %}
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span> <span class="na">class=</span><span class="s">"button"</span><span class="nt">&gt;</span>Shop Now<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      {% endif %}
    <span class="nt">&lt;/section&gt;</span>
{% endif %}
</code></pre>

<h4 id="i-want-to-replace-featured-products-under-the-slideshow-with-collections">I want to replace <strong>featured products</strong> under the slideshow with <strong>collections</strong></h4>

<p>If you head over to <strong>Customize Design &gt; Advanced &gt; Home</strong>, all you have to do is replace this chunk of code:</p>

<pre class="highlight html"><code>{% get products from products.all limit: theme.featured_products %}
  {% if products != blank %}
    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"products_list"</span><span class="nt">&gt;</span>
    {% for product in products %}
      <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"{{ product.css_class }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ product.url }}"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">alt=</span><span class="s">"Image of {{ product.name | escape }}"</span> <span class="na">src=</span><span class="s">"{{ product.image | product_image_url | constrain: '900' }}"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;b&gt;</span>{{ product.name }}<span class="nt">&lt;/b&gt;</span>
          <span class="nt">&lt;i&gt;</span>{{ product.default_price | money_with_sign }}<span class="nt">&lt;/i&gt;</span>
          {% case product.status %}
            {% when 'active' %}
              {% if product.on_sale %}<span class="nt">&lt;em&gt;</span>On Sale<span class="nt">&lt;/em&gt;</span>{% endif %}
            {% when 'sold-out' %}
              <span class="nt">&lt;em&gt;</span>Sold Out<span class="nt">&lt;/em&gt;</span>
            {% when 'coming-soon' %}
              <span class="nt">&lt;em&gt;</span>Coming Soon<span class="nt">&lt;/em&gt;</span>
          {% endcase %}
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/li&gt;</span>
    {% endfor %}
    <span class="nt">&lt;/ul&gt;</span>
  {% else %}
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"no_results"</span><span class="nt">&gt;</span>No products found.<span class="nt">&lt;/p&gt;</span>
  {% endif %}
{% endget %}
</code></pre>

<p>With this:</p>

<pre class="highlight html"><code>{% if categories.active != blank %}
  <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"products_list collections"</span><span class="nt">&gt;</span>
    {% for category in categories.active %}
      <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"product"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ category.url }}"</span><span class="nt">&gt;</span>
          {% for product in category.products limit:1 %}
            <span class="nt">&lt;img</span> <span class="na">alt=</span><span class="s">"Image of {{ product.name | escape }}"</span> <span class="na">src=</span><span class="s">"{{ product.image | product_image_url | constrain: '900' }}"</span><span class="nt">&gt;</span>
          {% endfor %}
          <span class="nt">&lt;b&gt;</span>{{ category.name }}<span class="nt">&lt;/b&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/li&gt;</span>
    {% endfor %}
  <span class="nt">&lt;/ul&gt;</span>
{% endif %}
</code></pre>

<p>Now, let’s change the <strong>Featured</strong> heading to say <strong>Collections</strong>. On that same page, find this:</p>

<pre class="highlight html"><code><span class="nt">&lt;h1&gt;</span>Featured<span class="nt">&lt;/h1&gt;</span>
</code></pre>

<p>Then change to this:</p>

<pre class="highlight html"><code><span class="nt">&lt;h1&gt;</span>Collections<span class="nt">&lt;/h1&gt;</span>
</code></pre>

<p>Save your changes and you’re finished!</p>

<h3 id="nova">Nova</h3>

<h4 id="id-like-to-remove-my-store-name-from-the-top-left-corner-of-my-shop">I’d like to remove my store name from the top left corner of my shop</h4>

<p>Head to <strong>Customize Design &gt; Advanced &gt; Layout</strong> and remove the following code from the header section of the page:</p>

<pre class="highlight html"><code><span class="nt">&lt;h1&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/"</span> <span class="na">title=</span><span class="s">"Home"</span><span class="nt">&gt;</span>{{ store.name }}<span class="nt">&lt;/a&gt;&lt;/h1&gt;</span>
</code></pre>

<p>Since your store name serves as a link back to your <strong>Home</strong> page, you may want to add your <strong>Home</strong> link to your logo/header. To do that, head to <strong>Customize Design &gt; Advanced &gt; Layout</strong> and look for the following code:</p>

<pre class="highlight html"><code> <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"{{ theme.image.url }}"</span> <span class="na">alt=</span><span class="s">"{{ store.name }}"</span> <span class="nt">/&gt;</span>
</code></pre>

<p>And change it to:</p>

<pre class="highlight html"><code><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/"</span> <span class="na">title=</span><span class="s">"Home"</span><span class="nt">&gt;</span> <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"{{ theme.image.url }}"</span> <span class="na">alt=</span><span class="s">"{{ store.name }}"</span> <span class="nt">/&gt;</span> <span class="nt">&lt;/a&gt;</span>
</code></pre>

<h4 id="id-like-to-remove-the-products-on-my-home-page">I’d like to remove the products on my home page</h4>

<p>To remove the featured products from the <strong>Home</strong> page, head to 
<strong>Customize Design &gt; Advanced &gt; Home</strong>, click custom and remove the following code:</p>

<pre class="highlight html"><code>{% else %}
  {% if products != blank %}
    <span class="nt">&lt;section</span> <span class="na">id=</span><span class="s">"products"</span><span class="nt">&gt;</span>
      {% for product in products %}
      <span class="nt">&lt;article</span> <span class="na">id=</span><span class="s">"product_{{ product.id }}"</span> <span class="na">class=</span><span class="s">"product {{ product.status }}"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"product_images galy"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"spinner"</span><span class="nt">&gt;&lt;/div&gt;</span>    
            <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"slides"</span><span class="nt">&gt;</span>
            {% for image in product.images %}
              <span class="nt">&lt;li</span> <span class="err">{%</span> <span class="na">if</span> <span class="na">forloop</span><span class="err">.</span><span class="na">last</span> <span class="err">%}</span><span class="na">class=</span><span class="s">"solo"</span><span class="err">{%</span> <span class="na">endif</span> <span class="err">%}</span><span class="nt">&gt;</span>
                <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"{{ image | product_image_url | constrain: '1000'}}"</span> <span class="na">alt=</span><span class="s">"Image of {{ product.name | escape }}"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;/li&gt;</span>
            {% endfor %}
            <span class="nt">&lt;/ul&gt;</span>
        <span class="nt">&lt;/section&gt;</span>
        <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"product_info"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"product_price"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"{{ product.url }}"</span> <span class="na">title=</span><span class="s">"View {{ product.name }}"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;h2&gt;</span>{{ product.name | truncate: 75 }}<span class="nt">&lt;/h2&gt;</span>
              {% case product.status %}
              {% when 'active' %}
              <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"price"</span><span class="nt">&gt;</span>{% if product.on_sale %}<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"on_sale"</span><span class="nt">&gt;</span>On sale!<span class="nt">&lt;/span&gt;</span>{% endif %} {{ product.default_price | money_with_sign }}<span class="nt">&lt;/h3&gt;</span>
              {% when 'sold-out' %}
              <span class="nt">&lt;h3&gt;</span>Sold out<span class="nt">&lt;/h3&gt;</span>
              {% when 'coming-soon' %}
              <span class="nt">&lt;h3&gt;</span>Coming soon<span class="nt">&lt;/h3&gt;</span>
              {% endcase %}
            <span class="nt">&lt;/a&gt;</span>
          <span class="nt">&lt;/section&gt;</span>        
        <span class="nt">&lt;/section&gt;</span>
      <span class="nt">&lt;/article&gt;</span>   
      {% endfor %}      
    <span class="nt">&lt;/section&gt;</span>
    
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span> <span class="na">id=</span><span class="s">"all_products_btn"</span> <span class="na">class=</span><span class="s">"button"</span><span class="nt">&gt;</span>All Products<span class="nt">&lt;/a&gt;</span>
  {% else %}
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert_no_products message"</span><span class="nt">&gt;</span>No products found.<span class="nt">&lt;/p&gt;</span>
  {% endif %} 
</code></pre>

<h3 id="picklejuice">Picklejuice</h3>

<h4 id="id-just-like-the-slideshow-to-display-on-the-home-page">I’d just like the slideshow to display on the home page</h4>

<p>To remove the featured products from the <strong>Home</strong> page, head to 
<strong>Customize Design &gt; Advanced &gt; Home</strong>, click <strong>custom</strong> and look for the slideshow code:</p>

<pre class="highlight html"><code>{% if theme.slideshow != blank %}
<span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"wmuSlider example1"</span> <span class="na">id=</span><span class="s">"slideshow"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"wmuSliderWrapper"</span><span class="nt">&gt;</span>
    {% if theme.image_sets.slideshow.size &gt; 0 %}
      {% for image in theme.image_sets.slideshow %}
        <span class="nt">&lt;article&gt;&lt;img</span> <span class="na">src=</span><span class="s">"{{ image.url | constrain: '2000' }}"</span><span class="nt">&gt;&lt;/article&gt;</span>
      {% endfor %}
    {% endif %}
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#minus_buffer"</span><span class="nt">&gt;</span>Down<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/section&gt;</span>
 {% endif %}
</code></pre>

<p>Then remove the rest of the code on the page</p>

<h4 id="i-would-like-my-customer-to-add-their-own-quantity-on-the-product-page">I would like my customer to add their own quantity on the <strong>Product</strong> page</h4>

<p>Just head over to <strong>Customize Design &gt; Advanced &gt; CSS</strong>. Then add the following code to the very bottom:</p>

<pre class="highlight css"><code><span class="nf">#product_qty</span> <span class="p">{</span>
  <span class="nl">display</span><span class="p">:</span> <span class="n">inline-block</span>
<span class="p">}</span>
</code></pre>

<p>Save your changes and you’re all set! Your customers will now have a quantity field on the <strong>Product</strong> page.</p>

<h3 id="snakebite">Snakebite</h3>

<h4 id="i-would-like-a-next-and-previous-button-added-to-my-products-page">I would like a <strong>Next</strong> and <strong>Previous</strong> button added to my <strong>Products</strong> page</h4>
<p>Just go to <strong>Customize Design &gt; Advanced &gt; Products</strong> and add the following code:</p>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"product_next_prev"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"prev"</span><span class="nt">&gt;</span>{% if product.previous_product != blank %}{{ product.previous_product | link_to: "← Previous" }}{% endif %}<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"next"</span><span class="nt">&gt;</span>{% if product.next_product != blank %}{{ product.next_product | link_to: "Next →" }}{% endif %}<span class="nt">&lt;/span&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>

<p>Click <strong>Done</strong> and then <strong>Save</strong>.</p>

<h4 id="i-would-like-to-add-a-message-to-the-top-of-my-home-page">I would like to add a message to the top of my <strong>Home</strong> page</h4>
<p>Go to <strong>Customize Design &gt; Advanced &gt; Home</strong> and add in your text at the top, for example:</p>

<pre class="highlight html"><code><span class="nt">&lt;div&gt;&lt;h2&gt;</span>Text here<span class="nt">&lt;/h2&gt;&lt;/div&gt;</span>
</code></pre>

<p>Then remove the rest of the code on the page, hit <strong>Done</strong> then <strong>Save</strong> and you’re done.</p>

<h4 id="i-dont-see-all-of-my-product-categories-or-pages-in-the-navigation-dropdown">I don’t see all of my product categories or pages in the navigation dropdown</h4>
<p>You can add scroll functionality to the dropdowns in your navigation by heading to <strong>Customize Design &gt; Advanced &gt; CSS</strong>. Then add the following code to the very bottom:</p>

<pre class="highlight css"><code><span class="nc">.nav-main</span> <span class="nc">.dropdown</span> <span class="p">{</span>
  <span class="nl">max-height</span><span class="p">:</span> <span class="m">500px</span><span class="p">;</span>
  <span class="nl">overflow</span><span class="p">:</span> <span class="nb">scroll</span>
<span class="p">}</span>
</code></pre>

<h3 id="sidecar">Sidecar</h3>

<h4 id="i-want-the-add-to-cart-button-to-automatically-redirect-to-the-cart-page">I want the <strong>Add to Cart</strong> button to automatically redirect to the cart page</h4>
<p>No problem, just add the following line of code at the bottom of your Layout page’s HTML, under the last <code>&lt;/script&gt;</code> tag.</p>

<pre class="highlight html"><code><span class="nt">&lt;script&gt;</span><span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span> <span class="nx">$</span><span class="p">(</span><span class="s1">'form.add'</span><span class="p">).</span><span class="nx">unbind</span><span class="p">(</span><span class="s1">'submit'</span><span class="p">);</span> <span class="p">});</span> <span class="nt">&lt;/script&gt;</span>
</code></pre>

<h4 id="i-dont-like-how-i-have-to-scroll-down-on-the-page-to-load-more-products">I don’t like how I have to scroll down on the page to load more products</h4>
<p>You can change the number of products that load from 20 to any number up to 100. Head to the <strong>Customize Design &gt; Advanced</strong> section of your admin, click the <strong>Home</strong> page, then the <strong>custom</strong> button to see the default HTML. From there you’ll see the following code at the top:</p>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"page home"</span><span class="nt">&gt;</span>
  {% paginate products from products.all by 20 %}
</code></pre>

<p>Change the number 20 to how many products you’d like to immediately load on the homepage. Keep in mind that the homepage was meant to display 100 products, so if you don’t have 100 products to display there will be space at the bottom of the page–you’d need to customize your CSS to change that, and you can <a href="../advanced/index.html#helpful-resources">use these resources</a> if you need help.</p>

<h4 id="i-want-to-add-a-quantity-field-to-the-product-page-so-customers-dont-have-to-keep-re-adding-products-over-and-over">I want to add a quantity field to the <strong>Product</strong> page so customers don’t have to keep re-adding products over and over</h4>
<p>Just head to the <strong>Customize Design &gt; Advanced</strong> section of the admin, then click the <strong>Product</strong> page–next click the <strong>custom</strong> button to see the default code. From there you’ll paste the following bit of code just above the <code>&lt;/form&gt;</code> tag.</p>

<pre class="highlight html"><code>{{ product | product_quantity_input }}
</code></pre>

<h4 id="i-want-to-change-the-products-link-in-the-sidebar-to-say-shop">I want to change the <strong>Products</strong> link in the sidebar to say <strong>Shop</strong></h4>
<p>Head to the <strong>Customize Design &gt; Advanced &gt; Layout</strong> page and click <strong>custom</strong> to edit the code. Find the section of code that looks like:</p>

<pre class="highlight html"><code><span class="nt">&lt;section&gt;</span>
  <span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"title"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span> <span class="na">class=</span><span class="s">"{% if page.full_url contains '/products' %}current{% endif %}"</span><span class="nt">&gt;</span>
      Products
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/h2&gt;</span>
</code></pre>

<p>Change <strong>Products</strong> to <strong>Shop</strong>, click <strong>Done</strong> and <strong>Save</strong> and you’ll be set.</p>

<h3 id="blocks">Blocks</h3>

<h4 id="i-dont-have-enough-products-to-fill-the-empty-spaces-on-the-home-page">I don’t have enough products to fill the empty spaces on the <strong>Home</strong> page</h4>
<p>You can paste this code at the very bottom of your CSS to get rid of those extra squares:</p>

<pre class="highlight css"><code><span class="nt">ul</span><span class="nf">#home_products</span> <span class="p">{</span>
  <span class="nl">background</span><span class="p">:</span> <span class="nb">none</span>
<span class="p">}</span>
</code></pre>

<h4 id="i-want-to-have-more-categories-displayed-in-the-top-navigation">I want to have more categories displayed in the top navigation</h4>
<p>Just head over to the Layout page’s HTML, in the <strong>Customize Design &gt; Advanced</strong> section of your admin. Find the following code:</p>

<pre class="highlight html"><code><span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">"nav"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"first"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span> <span class="na">title=</span><span class="s">"All Products"</span><span class="nt">&gt;</span>All<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;</span>{% for category in categories.active limit:2 %}<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;</span>{{ category | link_to }}<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;</span>{% endfor %}<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</code></pre>

<p>And change <code>limit:2</code> to the number of categories you’d like displayed in the top navigation.</p>

<h4 id="i-want-to-remove-the-shopping-cart-image-at-the-top-of-the-page">I want to remove the shopping cart image at the top of the page</h4>
<p>Add the following at the very bottom of your CSS, under <strong>Custom Styles</strong>, to remove the mini cart icon:</p>

<pre class="highlight css"><code><span class="nf">#minicart_count</span> <span class="p">{</span> 
  <span class="nl">background-image</span><span class="p">:</span> <span class="nb">none</span>
<span class="p">}</span>
</code></pre>

<h4 id="i-want-to-add-social-media-links-in-the-bottom-navigation">I want to add social media links in the bottom navigation</h4>
<p>Go to <strong>Customize Design &gt; Advanced &gt; Layout &gt; Custom</strong> and scroll down to the bottom of the page until you see this section of code:</p>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"pod_categories"</span> <span class="na">class=</span><span class="s">"pod"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h4&gt;</span>Products<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
    <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"first"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"/products"</span> <span class="na">title=</span><span class="s">"All Products"</span><span class="nt">&gt;</span>All<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    {% for category in categories.active %}<span class="nt">&lt;li&gt;</span>{{ category | link_to }}<span class="nt">&lt;/li&gt;</span>{% endfor %}
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>

<p><strong>Right below that code, add this chunk of code:</strong></p>

<pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"pod"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h4&gt;</span>Social Media<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;ul&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"YOUR_TWITTER_URL_HERE"</span> <span class="na">title=</span><span class="s">"Twitter"</span><span class="nt">&gt;</span>Twitter<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
    <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"YOUR_FACEBOOK_URL_HERE"</span> <span class="na">title=</span><span class="s">"Facebook"</span><span class="nt">&gt;</span>Facebook<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre>

<p>Be sure to update the links above with your Twitter URL and Facebook URL!</p>

<h3 id="sexy">Sexy</h3>

<h4 id="i-want-to-add-a-welcome-message-to-my-store">I want to add a welcome message to my store</h4>
<p>Just head over to the <strong>Customize Design &gt; Advanced</strong> section, then click the <strong>Home</strong> page. Replace <strong>Home</strong> in the page’s title field with the text you’d rather customers see, and you’ll see that new text just above your products.</p>

<h4 id="i-dont-like-that-little-shopping-cart-symbol-on-my-page">I don’t like that little shopping cart symbol on my page</h4>
<p>Add the following to the very bottom of your CSS, under <strong>Custom Styles</strong>:</p>

<pre class="highlight css"><code><span class="nf">#minicart</span> <span class="p">{</span>
  <span class="nl">background</span><span class="p">:</span> <span class="nb">none</span>
<span class="p">}</span>
</code></pre>

<h4 id="i-want-to-change-the-side-navigation-from-the-right-to-the-left-side">I want to change the side navigation from the right to the left side</h4>
<p>Check out this <a href="http://tonkapark.com/is-sexy-free-big-cartel-css/">free theme available from Tonka Park</a>–the code has already been written, so you just need to follow the instructions to apply it.</p>

<h4 id="i-want-to-change-the-number-of-columns-from-three-to-four">I want to change the number of columns from three to four</h4>
<p>Here’s another <a href="http://ok.aarcadethemes.com/product-item/4-column-sexy/">free theme from Tonka Park</a>—they’ve done the work for you in changing from a three to four column theme.</p>

<h4 id="i-want-to-remove-the-background-that-frames-my-product-listings">I want to remove the background that frames my product listings</h4>
<p>Just add the following code to the very bottom of your CSS, under <strong>Custom Styles</strong>:</p>

<pre class="highlight css"><code><span class="nf">#main-content</span><span class="o">,</span> <span class="nf">#products</span> <span class="p">{</span> 
  <span class="nl">background</span><span class="p">:</span> <span class="nb">none</span> 
<span class="p">}</span>
<span class="nf">#products</span> <span class="nt">div</span><span class="nc">.product</span><span class="o">,</span> <span class="nf">#products</span> <span class="nc">.product-info</span> <span class="p">{</span> 
  <span class="nl">border-top</span><span class="p">:</span> <span class="nb">none</span> 
<span class="p">}</span>
</code></pre>

<h4 id="i-want-to-change-the-section-that-says-home-so-i-can-advertise-my-sale">I want to change the section that says <strong>Home</strong> so I can advertise my sale</h4>
<p>Just go to <strong>Customize Design &gt; Advanced &gt; Home</strong>. Then just change the title of the page from <strong>Home</strong> to the text you’d like.</p>

<h4 id="i-want-to-change-how-my-currency-is-displayed-in-the-store">I want to change how my currency is displayed in the store</h4>
<p>You’ll want to make that change in a few places. Go to <strong>Customize &gt; Design &gt; Advanced</strong>. Then you’ll want to find the following code in your HTML within your Layout page, Products page, Product page, and Cart page:
<code>money_with_sign</code></p>

<p>If you want both the sign and currency code you’ll change it to:
<code>money_with_sign_and_code</code></p>

<p>If you just want the currency code displayed you’ll change it to:
<code>money_with_code</code></p>

          </div>
        </div>
      </article>
    </div>
  </div>

      </div>

      <footer>
        <ul>
          <li>&copy; 2015 <a href="https://www.bigcartel.com/">Big Cartel, LLC</a></li>
          <li><a href="../../../legal/index.html">Legal</a></li>
        </ul>
      </footer>
    </div>

    <script src="../../../js/jquery.min.js" type="text/javascript"></script>
    <script src="../../../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../js/all.js" type="text/javascript"></script>

  </body>

</html>
